<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to Custom Domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^umgeniplacements-fca5aectg6fse6c4\.southafricanorth-01\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="https://www.uwsil.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
