
{% extends "applicants/base.html" %}


{% block content %}



    {% load static %}
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    <div class="container text-center">
        <h1>
            Graduates Placement Program
        </h1>

        <hr/>
        {% comment %} <a href="{% url 'download_excel' %}" class="btn btn-default btn-info">
            Download spreadsheet
        </a> {% endcomment %}
   </div>

<div class="row justify-content-center mt-5">
    <div class="container text-center mt-5">
        <!-- Login Button -->
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg mr-2">Login</a>
        <!-- Sign Up Button -->
        <a href="{% url 'Signup' %}" class="btn btn-secondary btn-lg ml-2">Sign Up</a>
    </div>
{% endblock %}


 
   




