
{% extends "applicants/base.html" %}


{% block content %}
    
    {% load static %}
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}


    <div class="container">

        <div>
            <h1 style="color:white">
                Categories
            </h1>
        </div>
        <hr style="color:white;"/>
        <div class="row">
            {% for category in categories%}
                <a href="{% url 'Learners' categoryId=category.categoryId  %}">
                    <div class= "col-md-12 d-flex"" style="padding:0.5rem"> 
                        <div class="card btn" style="background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%); color:white">
                            <div class="card-body" >
                                <h2 style="color:white">
                                    {{category.categoryName}}
                                </h2>
                                <hr/>
                                <p style="color:white">
                                    {{category.description}}
                                </p>
                                <p style="color:white">
                                    code: {{category.code}}
                            </div>  
        
        
                        </div> 
                    </div>
                </a>
            {% endfor %} 
        </div>
    </div>

{% endblock %}