
{% extends "applicants/base.html" %}


{% block content %}



    {% load static %}
    <style>

      
        #innerManu{
            display:flex;
            justify-content:space-between;
            
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}
    <div class="container">
        {% if department %}
        
            <div id="search" style="display:flex; justify-content:space-between; padding:1rem; border:solid 1px white;  border-radius:12px" class="row">
                <div style="padding:0.5rem;">
                    <h1 style="color:azure">
                        {{department.Name}} department learners
                    </h1>

                </div>
                <div style="padding:0.5rem;" >
                    {% if selectState %}
                        <form   method="post" action="{% url 'SearchLearners' %}" >
                            {% csrf_token %}
                            <input type="hidden" name="space" value="select"/>
                            <input type="hidden" name="CategoryId" value="{{Category.categoryId}}"/>
                            
                            <input type="hidden" name="departmentId" value="{{department.DepartmentId}}"/>
                            <div class="row" style="display:flex;">
                                <div style="padding:0.25rem">
                                    <input type="text" name="Searched" placeholder="Search" style="width:auto"  class="form-control" />
                                </div>
                                <div style="padding:0.25rem">
                                
                                    <input type="submit" style="color:white; border:solid 1px white" class="btn btn-default btn-outline-info" value="Search"/>
                                    {% if isSearch %}
                                        <a href="{% url 'selectLearner' departmentId=department.DepartmentId categoryId=Category.categoryId %}" class="btn btn-success">
                                            Refresh
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    {% else %}

                        <!--when we a looking at department learner-->
                        <form   method="post" action="{% url 'SearchLearners' %}"  >
                            {% csrf_token %}
                            <input type="hidden" name="space" value="Department"/>
                            
                            <input type="hidden" name="departmentId" value="{{department.DepartmentId}}"/>
                            <div class="row" style="display:flex;">
                                <div style="padding:0.5rem; with:500px" class="row">


                                <div style="padding:0.5rem">
                                        <input type="text" name="Searched" placeholder="Search" style="min-width:100%"  class="form-control" />
                                </div>
                                    <div style="padding:0.5rem">
                                
                                        <div >
                                            <input type="submit" class="btn btn-default btn-outline-info"   value="Search" style="color:white; border:solid white"/>
                                        </div>
                                        {% if isSearch %}
                                        <div style="padding:0.5rem">
                                            <a href="{% url 'DepartmentLearners' departmentId=department.DepartmentId %}" class="btn btn-success">
                                                Refresh
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            
                            </div>
                        </form>
                    {% endif %}
                    
                </div>

            </div>
        {% endif %}
    </div>

   <div  class="container">
        <div style="display:flex; justify-content:space-between" class="container">
            {% if Category %}

                {% comment %} <h1 style="color:white">
                    {{Category.categoryName}} Learners rnjrn
                </h1> {% endcomment %}
            {% elif department %}
            
                {% if selectState == True %}
                    <h1>
                        {{department.Name}} department Learners
                    </h1>

                    <div>

                        <div style="color:white">
                            <h1>
                                {{Category.categoryName}} Learners
                            </h1>
                        </div>
                
                    </div>
                {% endif %}
            {% else %}

                <div class="row " style="padding:1rem; display:flex; justify-content:space-between;">

                    <div>
                        <h1>
                            {{department.Name}} department Learners
                        </h1>
                    </div>
                    
                </div>

            {% endif %}


        

        </div>

        <div id="innerManu" class="row container" >
           
            {% if user.is_staff %}
                {% if Category %}
                
                    <div style="padding:0.5rem">
                        <form   method="post" action="{% url 'SearchLearners' %}">
                            {% csrf_token %}
                            <input type="hidden" name="space" value="Pool"/>
                            <input type="hidden" name="CategoryId" value="{{Category.categoryId}}"/>
                            <div class="row container" style="display:flex; justify-content:end">
                               
                                <div  class="row"  style="padding:0.5rem" >
                                    <div style="padding:0.5rem">
                                        <input type="text" name="Searched" placeholder="Search: Name,Status, Degree Title, Institution" class="form-control" />
                                    </div>
                                    <div style="padding:0.5rem">
                                        <input id="txtSearch" type="submit" id="btnSubSearch" class="btn btn-default btn-outline-info" style="color:white; border:solid white" value="Search"/>
                                    </div>

                                   
                                    <div style="padding:0.5rem">
                                        {% if isSearch %}
                                            <a href="{% url 'Learners' categoryId=Category.categoryId %}" style="border:solid" class="btn btn-success">
                                                Refresh
                                            </a>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                   <div class="row" style="padding:1rem">
                        <div style="padding:0.5rem">

                            <a class="btn btn-info" title="Download List Of Learners" style="color:white"  href="{% url 'download_excel' categoryId=Category.categoryId %}">
                                download excel sheet 

                            </a>
                        </div>
                    
                        <div style="padding:0.5rem">
                            <a class="btn btn-info" title="Add A New Learner" style="color:white" onclick="studentSwitch(false)">
                                Add New Learner   
                            </a>
                        </div>
                   </div>
                {% endif %}
                

               
            {% endif %}
           

        </div>
        

        
        <div id="innerManu" class="row container">
           
            <div class="row" style="padding:1rem; display:flex;">
               
                {% if selectState %}

                    <div style="padding:0.5rem" >
                        <a class="btn btn-info" href="{% url 'selectCategory' departmentId=department.DepartmentId %}">
                            Back to categories
                        </a>
                    </div>
                {% endif %}
                {% if Category %}
                    {% if user.is_staff == False %}
                    {% if selectState == false %}
                        <div style="padding:0.5rem">

                            <a class="btn btn-info" style="color:white"  href="{% url 'download_excel' categoryId=Category.categoryId %}">
                                download excel sheet

                            </a>
                        </div>
                    {% endif %}
                    {% endif %}


                

                {% endif %}
                {% if exac %}

                    
                    
                
                    <div style="padding:0.5rem">
                        <a class="btn btn-info" style="color:white" title="Go To Company Dashboard" href="{% url 'companyDashboard' %}">
                            Company Dashboard
                        </a>
                    </div>

                    <div style="padding:0.5rem" >
                        <a class="btn btn-info" style="color:white"  href="{% url 'selectCategory' departmentId=department.DepartmentId %}">
                            Add learners
                        </a>
                    </div>
                    {% if selectState == false %}
                        <div style="padding:0.5rem">
                            <a class="btn btn-info" style="color:white"  href="{% url 'download_departmentExcel'   %}?departmentId={{department.DepartmentId}}">
                                download excel sheet 
                            </a>
                        </div>

                    {% endif %}
                        
                {% endif %}
              
                {% if department %}
                   

                    <div style="padding:0.5rem">
                        <a class="btn btn-info" style="color:white"  Title="Go To Company Department"  href="{% url 'departments' CompanyId=department.Company.CompanyId %}">
                            {{department.Company.Name}} departments 
                        </a>
                    </div>

                    
                    
                

                {% endif %}
                
            </div>

        </div>
     

        <div id="addformHolder"  hidden>
            <div style="padding:0.5rem;display:flex; justify-content:end" >
                <a class="btn btn-warning" style="color:white" onclick="studentSwitch(true)">
                    Close form
                </a>
               
            </div>
            {% if user.is_staff %}
                <div>
                    <form method="post" action="{% url 'save_excel_to_db' %}"  enctype="multipart/form-data">
                        {% csrf_token %}
                            <input type="hidden" value="{{Category.categoryId}}" name="categoryId"/>
                            <div>
                                
                                <div style="padding:0.5rem">
                                    <label>
                                    <b>Load learners using excel spreadsheet <b>
                                    </label><br/>
                                    <input  style="padding:0.5rem; height:50px" class="form-control" type="file" required name="excelData" />

                                    

                                </div>
                                <div style="padding:0.5rem; color:white;">
                                    <input class="btn btn-outline-success" style="width:100%; border:solid 1px white; color:white" type="submit" value="Upload file"/>
                                </div>

                            </div>
                    </form>
                </div>

            {% endif %}
            
            <form method="post"  >
                {% csrf_token %}

                <div>
                    <div>
                        <label class="field">
                           ID number*
                        </label><br/>
                        <input class="form-control" type="text" required name="LearnerIDNumber" />

                    </div>
                    <div>
                        <label class="field">
                           First name*
                        </label><br/>
                        <input class="form-control" required type="text" name="LearnerFirstName" />

                    </div>
                    <div>
                        <label class="field">
                           Last name*
                        </label><br/>
                        <input class="form-control" required type="text" name="LearnerSurname" />

                    </div>
                    <div>
                        <label class="field">
                            Middle name
                        </label><br/>
                        <input class="form-control" type="text" name="LearnerMiddleName" />

                    </div>
                    <div>
                        <label class="field">
                           Gender*
                        </label><br/>
                        <input class="form-control" required type="text" name="Gender" />


                    </div>
                    <div>
                        <label class="field">
                           Date of birth*
                        </label><br/>
                        <input class="form-control" required type="date" name="DOB" />
                    </div>
                    <div>
                        <label class="field">
                           Home Language*
                        </label><br/>
                        <input class="form-control" required type="text" name="HomeLanguage" />
                    </div>
                    <div>
                        <label class="field">
                           Equity Code*
                        </label><br/>
                        <input class="form-control" required type="text" name="EquityCode" />
                    </div>
                    <div>
                        <label class="field">
                           Learner Home Address1*
                        </label><br/>
                        <input class="form-control" required type="text" name="LearnerHomeAddress1" />
                    </div>
                    <div>
                        <label class="field">
                           Learner Home Address2
                        </label><br/>
                        <input class="form-control" type="text" name="LearnerHomeAddress2" />
                    </div>
                    <div>
                        <label class="field">
                           Municipality
                        </label><br/>
                        <input class="form-control" type="text" name="Municipality" />
                    </div>
                    <div>
                        <label class="field">
                           Postal code
                        </label><br/>
                        <input class="form-control" type="text" name="LearnerHomePostalCode" />
                    </div>
                    <div>
                        <label class="field">
                           STATSSA Area
                        </label><br/>
                        <input class="form-control" type="text" name="STATSSAArea" />
                    </div>
                    <div>
                        <label class="field">
                           Phone Number
                        </label><br/>
                        <input class="form-control" type="text" name="LearnerCellPhoneNumber" />
                    </div>
                    <div>
                        <label class="field">
                           Learner Fax Number
                        </label><br/>
                        <input class="form-control" type="text" name="LearnerFaxNumber" />
                    </div>

                    <div>
                        <label class="field">
                           Learner Email Address*
                        </label><br/>
                        <input class="form-control" type="text" name="LearnerEmailAddress" />
                    </div>
                    <div>
                        <label class="field">
                           Province*
                        </label><br/>
                        <input class="form-control" type="text" name="Province" />
                    </div>
                    <div>
                        <label class="field">
                           Disability*
                        </label><br/>
                        <input class="form-control" type="text" value="None" name="Disability"/>
                    </div>
                    <div>
                        <label class="field">
                           Last School Name*
                        </label><br/>
                        <input class="form-control" type="text" value="None" name="LastSchoolName" />
                    </div>
                    <div>
                        <label class="field">
                           Last School EMISNo*
                        </label><br/>
                        <input class="form-control" type="text" value="None" name="LastSchoolEMISNo" />
                    </div>
                    <div>
                        <label class="field">
                            Last School Year*
                        </label><br/>
                        <input required placeholder="YYYY" class="form-control" type="number" min="1900" max="2100" name="LastSchoolYear"/>
                    </div>  
                    <div>
                        <label class="field">
                           Degree Title*
                        </label><br/>
                        <input class="form-control" type="text" value="None" name="DegreeTitle" />
                    </div>
                    <div>
                        <label class="field">
                           Field Of Study*
                        </label><br/>
                        <input class="form-control" type="text" value="None" name="FieldOfStudy" />
                    </div>
                    <div>
                        <label class="field">
                           NQF Level*
                        </label><br/>
                        <input required class="form-control" type="number" value="None" name="NQFLevel" />
                    </div>
                    <div>

                        <label class="field">
                           RACE*
                        </label><br/>
                        <input class="form-control" type="text" value="None" name="RACE" />
                    </div>
                    
                    <div>
                        <label class="field">
                           Institution*
                        </label><br/>
                        <input class="form-control" type="text" value="None" name="Institution" />
                    </div>
                    <div>
                        <label class="field">
                           Major Subjects
                        </label><br/>
                        <textarea class="form-control" type="text" value="None" name="MajorSubjects" ></textarea>
                    </div>
                    <div>
                        <label class="field">
                           Learner Experience
                        </label><br/>
                        <textarea class="form-control" type="text" value="None" name="Experience" ></textarea>
                    </div>
                    <div>
                        <br/>
                        <input class="form-control btn btn-success" type="submit" value="Save learner information"  />
                    </div>
                    
                    
                </div>
            </form>
        </div>

        {% if isSearch %}
            <div class="row">
                {% if learners %}
                    {% for learner in learners %}
                        <div style="padding:0.5rem">
                            <div class="card" style="padding:0.5rem; max-width:250px; height:500px; font-size:16px;background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);; color:white ">
                                <div style="padding:0.5rem" class="card-card-header">
                                    <h4>

                                        {{learner.LearnerFirstName}}  {{learner.LearnerSurname}}
                                    </h4>
                                </div>
                                <div class="card-body" style="padding:0.5rem; font-weight:normal">
                                    {% if user.is_staff %}
                                        Id number: {{learner.LearnerIDNumber}}<br/>
                                    {% endif %}
                                    Degree Title: {{learner.DegreeTitle }}<br/>
                                    Field Of Study:	{{ learner.FieldOfStudy}}<br/>
                                    NQF Level: {{learner.NQFLevel }}<br/>
                                    Institution:  {{learner.Institution}}<br/>
                                    Location:<br/>
                                    {{learner.Municipality}}
                                    {{learner.LearnerHomeAddress1}}<br/>
                                    Status: 
                                    {%if  learner.Status == "Recruited" %}
                                    <i class="text-danger">{{learner.Status}}</i>    by:<br/>
                                                Company:{{learner.Exac.Company.Name }}<br/>
                                                Manager: {{learner.Exac.FirstName}} {{learner.Exac.LastName}}<br/>
                                                Manager email:{{learner.Exac.EmailAddress}} 
                                    {% elif learner.Status == "Available" %}
                                        <label style=" background-color:white; border-radius:12px; padding:0.23rem">
                                            <i class="text-success">{{learner.Status}}</i>
                                        </label> 
        
                                    {% endif %}

                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        {% if user.is_staff %}
                                            <div style="padding:0.25rem">
                                                <a class="btn btn-info" href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}">
                                                    View
                                                </a> 
                                            </div>    

                                            <div style="padding:0.25rem">
                                                <a  class="btn btn-warning" href="{% url 'editLearner' learnerId=learner.ApplicantId %}">
                                                    Edit
                                                </a> 
                                            </div>
                                            
            
                                            {% if learner.Status == "Available" %}
                                                <div style="padding:0.25rem">    
                                                    <a class="btn btn-danger" href="{% url 'deleteLearner' learnerId=learner.ApplicantId %}">
                                                            Delete
                                                    </a>
                                                </div>
                                            {% endif %}


                                            {% else %}
                                                {% if selectState %}
                                                    {% if learner.Status == "Available" %}
                                                        <div style="0.25rem">
                                                            <a href="{% url 'ConfirmLearner' learnerId=learner.ApplicantId departmentId=department.DepartmentId %}" class="btn btn-primary" style="color:white; border:solid white">
                                                                select 
                                                            </a>
                                                        </div>
                                                    {% endif %}
                
                                                {% else %}
                                                    <div style="0.25rem">
                                                            <a href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}">
                                                                View
                                                            </a>
                                                        </div>
                                                {% endif %}
                                        {% endif  %}
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                        <div>

                            <p>
                                No learners found
                            </p>
                        </div>

                {% endif %}
            </div>
        {% else %}
            {% if selectState or user.is_staff and department == None %}
                
                <div class="container">
                    

                    <div id="AvailableHolder" >
                        <hr/ style="border:solid; color:white">
                        <div style="color:white; display:flex;justify-content:space-between" class="row container">
                            <div>
                                <h3>
                                    Available Learners
                                </h3>
                            </div>
                            <div class="row">
                                <div style="padding:0.5rem">
                                    <a class="btn btn-info" onclick="showAll()">Show All</a>
                                </div>
                                <div style="padding:0.5rem">
                                    <a class="btn btn-info" onclick="ShowRecruited(true)">Show Recruited</a>
                                </div>
                                <div style="padding:0.5rem">
                                    <a onclick="ShowAvailable(true)" class="btn btn-info">Show Available</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if AvailableLearners %}
                                {% for learner in AvailableLearners %}
                                    <div style="padding:0.5rem">
                                        <div class="card" style="padding:0.5rem; max-width:250px; height:500px; font-size:16px;background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);; color:white ">
                                            <div style="padding:0.5rem" class="card-card-header">
                                                <h4>

                                                    {{learner.LearnerFirstName}}  {{learner.LearnerSurname}}
                                                </h4>
                                            </div>
                                            <div class="card-body" style="padding:0.5rem; font-weight:normal">
                                                {% if user.is_staff %}
                                                    Id number: {{learner.LearnerIDNumber}}<br/>
                                                {% endif %}
                                                Degree Title: {{learner.DegreeTitle }}<br/>
                                                Field Of Study:	{{ learner.FieldOfStudy}}<br/>
                                                NQF Level: {{learner.NQFLevel }}<br/>
                                                Institution:  {{learner.Institution}}<br/>
                                                Location:<br/>
                                                {{learner.Municipality}}
                                                {{learner.LearnerHomeAddress1}}<br/>
                                                Status: 
                                                {%if  learner.Status == "Recruited" %}
                                                <i class="text-danger">{{learner.Status}}</i>    by:<br/>
                                                            Company:{{learner.Exac.Company.Name }}<br/>
                                                            Manager: {{learner.Exac.FirstName}} {{learner.Exac.LastName}}<br/>
                                                            Manager email:{{learner.Exac.EmailAddress}} 
                                                {% elif learner.Status == "Available" %}
                                                    <label style=" background-color:white; border-radius:12px; padding:0.23rem">
                                                        <i class="text-success">{{learner.Status}}</i>
                                                    </label> 
                    
                                                {% endif %}

                                            </div>
                                            <div class="card-footer">
                                                <div class="row">
                                                    {% if user.is_staff %}
                                                        <div style="padding:0.25rem">
                                                            <a class="btn btn-info" href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}">
                                                                View
                                                            </a> 
                                                        </div>    

                                                        <div style="padding:0.25rem">
                                                            <a  class="btn btn-warning" href="{% url 'editLearner' learnerId=learner.ApplicantId %}">
                                                                Edit
                                                            </a> 
                                                        </div>
                                                        
                        
                                                        {% if learner.Status == "Available" %}
                                                            <div style="padding:0.25rem">    
                                                                <a class="btn btn-danger" href="{% url 'deleteLearner' learnerId=learner.ApplicantId %}">
                                                                        Delete
                                                                </a>
                                                            </div>
                                                        {% endif %}
                
                                                        {% else %}
                                                            {% if selectState %}
                                                                {% if learner.Status == "Available" %}
                                                                    <div style="0.25rem">
                                                                        <a href="{% url 'ConfirmLearner' learnerId=learner.ApplicantId departmentId=department.DepartmentId %}" class="btn btn-primary" style="color:white; border:solid white">
                                                                            select 
                                                                        </a>
                                                                    </div>
                                                                {% endif %}
                            
                                                            {% else %}
                                                                <div style="0.25rem">
                                                                        <a href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                            {% endif %}
                                                    {% endif  %}
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>   
                </div>
            {% endif %} 
            <div >
            

                <div id="RecruitedHolder" class="container"  >
                    <hr/ style="border:solid; color:white">
                     
                   <div style="color:white; display:flex;justify-content:space-between" class="row container">
                        <div>
                            <h3>
                                Recruited Learners
                            </h3>
                        </div>
                        {% if recruited == False or selectState%}
                            <div class="row">
                                <div style="padding:0.5rem">
                                    <a class="btn btn-info" onclick="showAll()">Show All</a>
                                </div>
                                <div style="padding:0.5rem">
                                    <a class="btn btn-info" onclick="ShowRecruited(true)">Show Recruited</a>
                                </div>
                                <div style="padding:0.5rem">
                                    <a onclick="ShowAvailable(true)" class="btn btn-info">Show Available</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if RecruitedLearners %}
                            {% for learner in RecruitedLearners %}
                                <div style="padding:0.5rem">
                                    <div class="card" style="padding:0.5rem; max-width:250px; height:500px; font-size:16px;background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%); color:white; ">
                                        <div style="padding:0.5rem" class="card-card-header">
                                            <h4>
    
                                                {{learner.LearnerFirstName}}  {{learner.LearnerSurname}}
                                            </h4>
                                        </div>
                                        <div class="card-body" style="padding:0.5rem; font-weight:normal; overflow-y:hidden; overflow-y:auto">
                                            {% if user.is_staff %}
                                                Id number: {{learner.LearnerIDNumber}}<br/>
                                            {% endif %}
                                            Degree Title: {{learner.DegreeTitle }}<br/>
                                            Field Of Study:	{{ learner.FieldOfStudy}}<br/>
                                            NQF Level: {{learner.NQFLevel }}<br/>
                                            Institution:  {{learner.Institution}}<br/>
                                            Location:<br/>
                                            {{learner.Municipality}}
                                            {{learner.LearnerHomeAddress1}}<br/>
                                            Status: 
                                            
                                            <i style=" background-color:white; border-radius:12px; padding:0.23rem" class="text-warning"><b>{{learner.Status}}</b></i>   <br/>
                                                        Company: {{learner.Exac.Company.Name }}<br/>
                                                        Manager: {{learner.Exac.FirstName}} {{learner.Exac.LastName}}<br/>
                                                        Manager email:<br/>{{learner.Exac.EmailAddress}} 
                                           
    
                                        </div>
                                        <div class="card-footer">
                                            <div class="row" style=" display:flex;justify-content:center">
                                                {% if user.is_staff %}
                                                    <div style="padding:0.25rem">
                                                        <a class="btn btn-info" href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}">
                                                            View
                                                        </a> 
                                                    </div>    
    
                                                    <div style="padding:0.25rem">
                                                        <a  class="btn btn-warning" href="{% url 'editLearner' learnerId=learner.ApplicantId %}">
                                                            Edit
                                                        </a> 
                                                    </div>
                                                    
                    
                                                    {% if learner.Status == "Available" %}
                                                        <div style="padding:0.25rem">    
                                                            <a class="btn btn-danger" href="{% url 'deleteLearner' learnerId=learner.ApplicantId %}">
                                                                    Delete
                                                            </a>
                                                        </div>
                                                    {% endif %}
            
                                                    {% else %}
                                                        {% if selectState %}
                                                            {% if learner.Status == "Available" %}
                                                                <div style="0.25rem">
                                                                    <a href="{% url 'ConfirmLearner' learnerId=learner.ApplicantId departmentId=department.DepartmentId %}" class="btn btn-primary" style="color:white; border:solid white">
                                                                        select 
                                                                    </a>
                                                                </div>
                                                            {% endif %}
                        
                                                        {% else %}
                                                                <div style="padding:0.25rem;">
                                                                    <a href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}" class="btn btn-info">
                                                                        View More
                                                                    </a>

                                                                </div>

                                                                {% if learner.Exac.Company == exac.Company%}
                                                                <div style="padding:0.25rem">
                                                                    <a class="btn btn-danger" href="{% url 'confirmRemoval' learnerId=learner.ApplicantId %}" >
                                                                        Remove
                                                                    </a>
                                                                </div>
                                                                {% endif%}
                                                        {% endif %}
                                                {% endif  %}
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>   
           </div>
        {% endif %}

       
        
         
        
       

   </div>

     




   <script>
        let addformHolder = document.getElementById("addformHolder")
        let innerManu = document.getElementById("innerManu")

        function studentSwitch(state){
            if(state){
                addformHolder.hidden = true
            }
            else{
                addformHolder.hidden =false
            }
           
        }
        
   </script>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>

    .btndanger:hover{
        border:solid white;
        background-color:red;
        color:white
    }
    .field{
        color:white;
        font-weight:normal;
        font-size:18px
    }
</style>

<script>
    let AvailableHolder = document.getElementById("AvailableHolder");
    let RecruitedHolder = document.getElementById("RecruitedHolder");

    function ShowAvailable(is_show){
        
        if(is_show){
            RecruitedHolder.hidden = true
            AvailableHolder.hidden = false
        }
        else{
            RecruitedHolder.hidden = false
            AvailableHolder.hidden = true
        }
        
    }
    function ShowRecruited(is_show){
        if(is_show){
            RecruitedHolder.hidden = false
            AvailableHolder.hidden = true
        }
        else{
            RecruitedHolder.hidden = true
            AvailableHolder.hidden = false
        }  
    }
    function showAll(){
        RecruitedHolder.hidden = false
        AvailableHolder.hidden = false
    }
</script>
{% endblock %}