{% extends "applicants/base.html" %}

{% block content %}
{% load static %}
{% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem;  border:solid 2px #FF69B4; border-radius:15px; width:40%; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                <p >
                    <b> {{ message }}.</b>
                </p>
                </div>
            </center>
        </div>

        {% endfor %}
    {% endif %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <center style="color:white">
            <h2>Login</h2> 
        </center>

        <div class="text-center" style="color:white">
            Need an account? Sign Up<a href="{% url 'Signup' %}" > here</a>
        </div>
        <div class="text-center " style="color:white">
            forgot password? Reset<a href="{% url 'reset_password' %}" > here</a>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <hr>
     
        <div class="text-center" style="color:white">
            Need an account? Sign Up<a href="{% url 'Signup' %}" > here</a>
        </div>
        <div class="text-center" style="color:white">
            forgot password? Reset<a href="{% url 'reset_password' %}" > here</a>
        </div>
    </div>
</div>

<style>

    label{ 
        color:white;

    }
</style>

{% endblock %}