{% extends "applicants/base.html" %}

{% block content %}
{% load static %}
{% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem;  border:solid 2px #FF69B4; border-radius:15px; width:40%; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                <p >
                    <b> {{ message }}.</b>
                </p>
                </div>
            </center>
        </div>

        {% endfor %}
{% endif %}

<div id="moveStep">
    <b>Step 1: Sign Up and Activate Your Account > </b>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <center>
            <h2 style="color:white">Sign Up</h2>
        </center>
        <hr/>
        <div style="color:white" class="text-center">
            Do you already have an account? Login<a href="{% url 'login' %}" > here</a>
          
        
        </div>
       
        <div style="color:white" class="text-center">
            forgot password? Reset<a href="{% url 'reset_password' %}" > here</a>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
            
        
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First name</label>
                <input type="text" required name="first_name" class="form-control" id="first_name" aria-describedby="emailhelp">
                
            </div>
            <div class="form-group">
                <label for="last_name">Last name</label>
                <input type="text" required name="last_name" class="form-control" id="last_name" aria-describedby="emailhelp">
                
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" required name="email" class="form-control"  id="email" aria-describedby="emailhelp">
                <small style="color:white" id="emailhelp" class="form-text">Your username must be unique. We will let you know if someone has taken it already.</small>
                <small style="color:white" id="emailhelp" class="form-text"></small>
            </div>
           
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" required name="password1" class="form-control" id="password1">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" required name="password2" class="form-control" id="password2">
            </div>
            {% for field in registration_form %}
                <p>
                    {% for error in field.errors %}
                        <p style="color: red">{{error}}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            {% if registration_form.non_field_errors %}
                <div>
                    <p>
                        {{ registration_form.non_field_errors }}
                    </p>
                </div>
            {% endif %}   
            {% comment %} <a type="submit" id="submit" onclick="submitForm()" class="btn btn-primary">Sign Up</a> {% endcomment %}
            <button   type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <hr>
        <div class="text-center" style="color:white">
            Do you already have an account? Login<a href="{% url 'login' %}" > here</a>
          
        
        </div>
       
        <div class="text-center" style="color:white">
            forgot password? Reset<a href="{% url 'reset_password' %}" > here</a>
        </div>
    </div>
</div>



<script>

    let seconds = 0;
    let timer;
    const txtemail = document.getElementById("email")
   
    console.log("email:: ", email.value)
    function hasValidSuffix(email) {
        // Check for a dot followed by at least two alphanumeric characters (letters or digits) at the end
        return  return /\./.test(email);
    }

    function submitForm(){
        document.getElementById("finalSubmit").click();
        //if(test(email.value)){
        //    document.getElementById("finalSubmit").click();
        //}
        //else{
         //   startTimer(txtemail)
         //   return;
        //}
    }
 
    function startTimer(element) {
        timer = setInterval(() => {
            seconds++;
            if(seconds % 2 == 0){
                element.style = "border: solid 3px red"
            }
            else{
                element.style = ""
            }
            if (seconds === 10) {
                clearInterval(timer);  // Stop the interval after 5 seconds
            } 
        }, 1000); // Runs every 1 second
       
    }
    
    function test(email){
        is_valid = hasValidSuffix(email)
        if(is_valid){
            msg = ""
            txtemail.style = ""
            txtemail.hidden = true
            document.getElementById("emailhelp").innerHTML = "Your username must be unique. We will let you know if someone has taken it already."
        }
        else{
            msg = "Email must have a dot followed by at least two alphanumeric characters (letters or digits) at the end."
            txtemail.style = "border:solid red 2px;padding:0.5rem"
        }
        document.getElementById("emailhelp").innerHTML = msg
        document.getElementById("emailhelp").style = "color:red; background-color:white;padding:0.5rem; "
       
        return is_valid
    }
  

   

    
</script>

<style>

    #moveStep{
        background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
        padding:0.7rem;
        color:white
    }
    label{
        color:white 
    }
</style>
{% endblock %}