{% extends "applicants/base.html" %}


{% block content %}
    {% load static %}
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}



    <div class="container">
        <div id="addCompHolder">
            <form  method="post" >
                {% csrf_token %}

                <div style="" class="fromCard">
                
                    <div>
                        <label>
                           First Name*
                        </label><br/>
                        <input class="form-control" type="text" required name="FirstName" value="{{user.first_name}}" />

                    </div>
                    <div>
                        <label>
                           Last Name
                        </label><br/>
                        <input class="form-control" type="text" required name="LastName" value="{{user.last_name}}"/>

                    </div>
                    <div>
                        <label>
                           Gender*
                        </label><br/>
                        <select class="form-control"  required name="Gender" >
                            <option value="Male">
                                Male
                            </option>
                            <option value="Female">

                            </option>

                            <option value="Other">
                                Other
                            </option>

                        </select>



                    </div>
                    <div>
                        <label>
                           Position*
                        </label><br/>
                        <input class="form-control" type="text" required name="Position" placeholder="e.g CEO"/>

                    </div>
                    <div>
                        <label>
                           Email Address*
                        </label><br/>
                        <input class="form-control" type="email" required name="EmailAddress" value="{{user.email}}"/>

                    </div>
                    <div>
                        <label>
                           Phone number*
                        </label><br/>
                        <input class="form-control" type="text" required name="PhoneNumber" />

                    </div>

                    <div>
                        <label>
                           Address*
                        </label><br/>
                        <input class="form-control" type="text" required name="Address" />

                    </div>

                    

                    <div style="padding:1rem; display:flex;justify-content: center">
                  
                        <input class="btn btn-success" type="submit" required value="Save and Continue" />

                    </div>
                    
                </div>

            </form>

        </div>




    </div>


    <style>

        .fromCard{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
            color:white;
            padding:1rem; 
            border:solid 1px; 
            border-radius:12px;
            
        }
        .fromCard>div{
            font-weight:normal;
        }
    </style>


{% endblock %}