{% extends "applicants/base.html" %}


{% block content %}

    {% load static %}
    <style>

        #innerManu{
            display:flex;
            justify-content:space-between
        }
        .about-section {
            padding: 5px;
            text-align: center;
            background-color: #474e5d;
            color: white;
          }
    
    </style>
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    <div class="container">
        
        <!--If the user is staff-->

            
        <div id="moveStep" class="row">
            <div style=" color:white; display:flex; padding:0.5rem">
                <h4>{{company.Name}}</h4>
                
            </div>
            
            <div style='padding:0.5rem; ' class="row">
               {% if exac.Company == company or user.is_staff %}
                    <div style='padding:0.1rem'>
                        <a id="pageTab" title="Click to see {{company.Name}} Divisions" style="color:white"  href="{% url 'departments' CompanyId=company.CompanyId %}">
                            Divisions
                        </a>
                    </div>
                
                    <div style='padding:0.1rem'>
                        <a id="pageTab" title="View learners recruited by this company" style="color:white"  href="{% url 'CompanyLearners' CompanyId=company.CompanyId %}">
                            Company Learners
                        </a>
                    </div>
                {% else %}
                    <div style='padding:0.1rem'>
                        <a id="pageTab"  title="View learners recruited by this company" style="color:white"  href="{% url 'companyDashboard' %}">
                            Back to list
                        </a>
                    </div>
                    <div style='padding:0.1rem'>
                        <a id="pageTab" title="View learners recruited by this company" style="color:white"  href="{% url 'addManagement' CompanyId=company.CompanyId %}">
                            Join
                        </a>
                    </div>

                {% endif %}
                
                {% if  exac.Company == company and user.is_staff == False %}
                   
                    <div style="padding:0.1rem">
                        
                        <a id="pageTab" title="Go to Dashboard"  style="color:white"  href="{% url 'companyDashboard' %}">
                            Go to Dashboard
                            
                        </a>

                    </div>
                    <div style="padding:0.1rem">
                        <a id="pageTab"  title="Edit Company Details " style="color:white"  href="{% url 'EditCompany' companyId=company.CompanyId %}">
                            Edit Details
                        </a>

                    </div>
                {% endif %}

               
            </div>  

        </div>

        

        {% if selectState %}
            <div style="padding:1rem">
                <form method="post" action="{% url 'ConfirmLearner' learnerId=learner.ApplicantId departmentId=department.DepartmentId %}">
                    {% csrf_token %}
                    <input type="submit" class="bt btn-outline-success" value="Confirm Recruitment"/>


                </form>
            </div>
        {% endif %}

        {% if is_remove %}
            <div style="padding:1rem">
                <form method="post" action="{% url 'confirmRemoval' learnerId=learner.ApplicantId %}">
                    {% csrf_token %}
                    <input type="submit" class="bt btn-outline-success" value="Confirm Learner Removal"/>


                </form>
            </div>

        {% endif %}

    </div>

    <div class="container">

                

        <div> 
            <div style="color:white">
                <h2>Basic Details</h2>
            </div>
            <div style="display:flex; justify-content:center">

                <table  style="width:100%;background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);color:white;">
                    <tr>
                        <th>
                            Company Name:
                        </th>
                        <td>
                            {{company.Name}}
                        </td>
                            
                    </tr>

                    <tr>
                        <th>
                            Address:
                        </th>
                        <td>
                            {{company.Address}}
                        </td>
                            
                    </tr>

                    <tr>
                        <th>
                            Company Email: 
                        </th>
                        <td>
                            {{ company.Email }}
                        </td>
                            
                    </tr>
                    <tr>
                        <th>
                            Added By: 
                        </th>
                        <td>
                            {{company.user.first_name}} {{company.user.last_name}}<br/>
                            ({{company.user.email}})
                        </td>
                            
                    </tr>
                    <tr>
                        <th>
                            Learners Recruited: 
                        </th>
                        <td>
                            {{numLearners}}
                        </td>
                            
                    </tr>
                    
                    <tr>
                        <th>
                            Managers Recruiting: 
                        </th>
                        <td>
                            {{numManagers}}
                        </td>
                            
                    </tr>
                    <tr>
                        <th>
                            Compony Phone:
                        </th>
                        <td>
                            {{company.Phone}}
                        </td>
                            
                    </tr>
                
                </table>
            </div>
            <hr/>
            <div style="color:white">
                <h1>Managers</h1>
            </div>
            <div style="width:100%; display:flex; justify-content:center">
                
                
                <div class="row" style="width:100%; ">
                    
                    {% if All_Exacs %}
                        {% for manager  in All_Exacs %}
                        <div style="padding:0.3rem">
                            <div class="card"  id="compCard" style="padding:0.5rem; width:270px; height:400px; font-size:16px; background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%); color:white;">
                                <div class="card-header">
                                    <h5>{{manager.Position}}</h5>
                                </div>
                                <hr/>
                                
                                <div class="card-body" style="padding:0.5rem; font-weight:normal;">
                                    Name: {{manager.FirstName}} {{manager.LastName}}<br/>
                                    Gender: {{manager.Gender}}<br/>
                                    Email: {{manager.EmailAddress}}<br/>
                                    Phone: {{manager.PhoneNumber}}

                                </div>
                            
                                
                                

                            </div>
                        </div>
                        {% endfor %}
                    {%endif%}
                </div>
            </div>
        </div>
            
    </div>

    <style>

        .info_holder{
            display:flex;
            justify-content:space-between;
            
        }
        #moveStep{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
            padding:0.7rem;
            color:white;
            display:flex;
            justify-content:space-between;
        }
        #pageTab{
            padding:0.5rem;
            border-radius: 60%;
            text-decoration: underline;
            cursor: pointer;
        }

        #pageTab:hover{
            color:black;
            border:solid;
            border-right:none;
            border-top:none;
            text-decoration:none;
        }

        @media only screen and (max-width: 390px) {
            #compCard{
                width:300px;
            }
        }
    </style>




    <style>
        tr{
            border:solid  1px;
            border-radius:12px;
            
        }
        td{
            padding:0.5rem; 
        }

    </style>
{% endblock %}

