
{% extends "applicants/base.html" %}


{% block content %}



    {% load static %}
    <style>

        #tablHolder{
            padding:1rem
        }
        #innerManu{
            display:flex;
            justify-content:space-between
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    
   <div class="container">
        <div style="display:flex; justify-content:space-between; color:white">
        
            <h1>
                {{company.Name}} Learners
            </h1>

        </div>
        <hr/>
        <div id="innerManu" class="row container" >

            <div class="row">

                <div style="padding:0.5rem">
                    <a class="btn btn-info" style="color:white" href="{% url 'companyDetails' companyId=company.CompanyId %}">
                        {{company.Name}} Company   
                    </a>
                </div>

                <div style="padding:0.5rem">
                    <a class="btn btn-info" title="Download list of learners" style="color:white"  href="{% url 'download_departmentExcel' %}?companyId={{company.CompanyId}}">
                        download excel sheet
                    </a>
                </div>
                {% if exac %}

                    <div style="padding:0.5rem">
                        <a class="btn btn-info" title="Go To Company Dashboard " style="color:white"  href="{% url 'companyDashboard' %}">
                            Company Dashboard
                        </a>
                    </div>

                    <div style="padding:0.5rem" >
                        <a class="btn btn-info" title="Add New Learners" style="color:white"  href="{% url 'selectCategory' departmentId=department.DepartmentId %}">
                            Add learners
                        </a>
                    </div>
                   
                    
                {% endif %}
            </div>

            <div>
              
                <form   method="post" action="{% url 'SearchLearners' %}">
                    {% csrf_token %}
                    <input type="hidden" name="space" value="Company" />
                    <input type="hidden" name="companyId" value="{{company.CompanyId}}"/>
                    <div class="row" style="display:flex; ">
                        <div style="padding:0.5rem">
                            <input type="text" name="Searched" placeholder="Search" class="form-control" />
                        </div>
                        <div  style="padding:0.5rem">
                            <input type="submit" class="btn btn-default btn-outline-info" style="color:white; border:solid white" value="Search"/>
                            {% if isSearch %}
                                <a href="{% url 'CompanyLearners' CompanyId=company.CompanyId %}" class="btn btn-success">
                                    Refresh
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </form>
                
            </div>

           
           

        </div>

        <div>
            

            <div id="RecruitedHolder"  >
                <hr/ style="border:solid; color:white">
                 
               <div style="color:white; display:flex;justify-content:space-between">
                <div>
                    <h3>
                        {{department.Name}} Recruited Learners
                    </h3>
                </div>
                
            </div>
                <div class="row">
                    {% if learners %}
                        {% for learner in learners %}
                            <div style="padding:0.5rem">
                                <div class="card" style="padding:0.5rem; max-width:250px; height:500px; font-size:16px;background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%); color:white; ">
                                    <div style="padding:0.5rem" class="card-card-header">
                                        <h4>

                                            {{learner.LearnerFirstName}}  {{learner.LearnerSurname}}
                                        </h4>
                                    </div>
                                    <div class="card-body" style="padding:0.5rem; font-weight:normal; overflow-y:hidden; overflow-y:auto">
                                        {% if user.is_staff %}
                                            Id number: {{learner.LearnerIDNumber}}<br/>
                                        {% endif %}
                                        Degree Title: {{learner.DegreeTitle }}<br/>
                                        Field Of Study:	{{ learner.FieldOfStudy}}<br/>
                                        NQF Level: {{learner.NQFLevel }}<br/>
                                        Institution:  {{learner.Institution}}<br/>
                                        Location:<br/>
                                        {{learner.Municipality}}
                                        {{learner.LearnerHomeAddress1}}<br/>
                                        Status: 
                                        
                                        <i style=" background-color:white; border-radius:12px; padding:0.23rem" class="text-warning"><b>{{learner.Status}}</b></i>   <br/>
                                                    Company: {{learner.Exac.Company.Name }}<br/>
                                                    Manager: {{learner.Exac.FirstName}} {{learner.Exac.LastName}}<br/>
                                                    Manager email:<br/>{{learner.Exac.EmailAddress}} 
                                       

                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            {% if user.is_staff %}
                                                <div style="padding:0.25rem">
                                                    <a class="btn btn-info" href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}">
                                                        View
                                                    </a> 
                                                </div>    

                                                <div style="padding:0.25rem">
                                                    <a  class="btn btn-warning" href="{% url 'editLearner' learnerId=learner.ApplicantId %}">
                                                        Edit
                                                    </a> 
                                                </div>
                                                
                
                                                {% if learner.Status == "Available" %}
                                                    <div style="padding:0.25rem">    
                                                        <a class="btn btn-danger" href="{% url 'deleteLearner' learnerId=learner.ApplicantId %}">
                                                                Delete
                                                        </a>
                                                    </div>
                                                {% endif %}
        
                                                {% else %}
                                                    {% if selectState %}
                                                        {% if learner.Status == "Available" %}
                                                            <div style="0.25rem">
                                                                <a href="{% url 'ConfirmLearner' learnerId=learner.ApplicantId departmentId=department.DepartmentId %}" class="btn btn-primary" style="color:white; border:solid white">
                                                                    select 
                                                                </a>
                                                            </div>
                                                        {% endif %}
                    
                                                    {% else %}
                                                        <div style="0.25rem">
                                                                <a href="{% url 'learnerDetails'  learnerId=learner.ApplicantId %}">
                                                                    View
                                                                </a>
                                                            </div>
                                                    {% endif %}
                                            {% endif  %}
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>   
       </div>
   </div>



   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}