{% extends "applicants/base.html" %}


{% block content %}
    {% load static %}

    <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">

    <style>
        .gradientColor:{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
      }
    </style>
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    <div id="moveStep" class="row"  >
        <b  style="padding:0.5rem">Step 4:  Start Recruiting ></b>
        
        <div class="row" >
            <div style='padding:0.5rem'>
                <a id="pageTab2" title="View Company Details" style="color:white"  href="{% url 'companyDetails' companyId=company.CompanyId %}">
                   View Company details
                </a>
            </div>
            {% if exac%}
                    <div style='padding:0.5rem'>
                        <a  id="pageTab"  title="Add New Division To The Company " style="color:white" onclick="formSwitch(true)">
                          Add New Division
                        </a>
                    </div>
            {% endif %}
            <div style="padding:0.5rem">
                    <a 
                    onclick="pageTour()"
                        style="color:azure"
                        title="Sign Up and Activate Your Account(Update account)"
                        id="pageTour"
                    > 
                        Retake Page tour
                    </a>
            </div>

           

        </div>

    </div>
    <div class="text-center" style="padding:1rem; color:azure">
        <h3>{{company.Name}} Divisions </h3> 
    </div>


    <div class="container">
       
        <div style="padding:1rem;" id="addDepHiolder" hidden>

            
            <form  method="post"  >
                {% csrf_token %}

                <div style="padding:1rem; border:solid 1px; border-radius:12px;color:white;
                 background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%)" >
                    <div style="display:flex; justify-content:end">
                        <a class="btn btn-danger" title="Hide Form " style="color:white" onclick="formSwitch(false)">
                            Close form
                        </a>

                    </div>
                    <div>
                        <label>
                           <b>Division Name<b>
                        </label><br/>
                        <input class="form-control" type="text" required name="Name" />

                    </div>
                    <div>
                        <label>
                           <b>Description<b>
                        </label><br/>
                        <textarea class="form-control" type="text" max="300" required name="Description"></textarea>

                    </div>
                    
                    <div style="padding:1rem; display:flex;justify-content: center">
                  
                        <input class="btn btn-success" title="Save The Information" type="submit" required value="Save information" />

                    </div>
                    
                </div>

            </form>
        </div>
        <div>
            <div class="row" >

                <!--The for loop starts-->
               {% if departments %}
                    {% for department in departments %}
                    
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2" style="background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);">
                                <div class="card-header" style="color:white; font-weight:normal">
                                    <h5>
                                        {{department.department.Name}} Division
                                    </h5>


                                </div>
                                <div class="card-body"  style="color:white; font-weight:normal">
                                    Learners: {{department.numLearners}}
                                    <hr/>
                                    {{department.department.Description}}
                                </div>
                                <div class="card-footer">
                                
                                    <div class="row" style="display:flex; color:white; justify-content:center; font-weight:normal">
                                        
                                        <div style="padding:0.5rem">


                                            <a  class="btn btn-info" title="See more details about the Division." href="{% url 'departmentDetails' departmentId=department.department.DepartmentId %}">

                                                More Details

                                            </a>
                                        </div>
                                     
                                        <div style="padding:0.5rem">

                                            <a  class="btn btn-info" title="View learners recruited on this Division" href="{% url 'DepartmentLearners' departmentId=department.department.DepartmentId %}">


                                                Learners
                                            </a>
                                        </div>
                                    </div>
                                    <div  style="color:white;  font-weight:normal">
                                        Added by:<a href="{% url 'home' %}"  style="color:white">
                                                    {{department.department.Exac.FirstName}}  {{department.department.Exac.LastName}}

                                                </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                            
                    {% endfor %}

                {% else %}
                        <div style="display:flex; justify-content:center; width:100%;">
                            <p style="border:solid 1px red; padding:1rem; border-radius:12px; color:white;background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);">
                                No Divisions please add a new one by clicking on  "New Division" above.
                            </p>
                        </div>
                {% endif %}
                <!--The for loop ends-->

            </div>
        </div>
    </div>



    <script>
        let addDepHiolder = document.getElementById("addDepHiolder")

        function formSwitch(state){
            if(state){
                addDepHiolder.hidden = false
            }
            else{
                addDepHiolder.hidden = true
            }
        }
        //tours

       
    </script>

    <style>

        #moveStep{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
            padding:0.7rem;
            color:white;
            display:flex;
            justify-content:space-between;
        }
        #PreviousStep , #pageTour, #pageTab, #pageTabDivision{
           
            padding:0.5rem;
            border-radius: 60%;
            text-decoration: underline;
            cursor: pointer;
        }
        #PreviousStep:hover, #pageTour:hover, #pageTab:hover, #pageTabDivision:hover{
            color:black;
            border:solid;
            border-right:none;
            border-top:none;
            text-decoration:none;
        }
        .card{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
            max-width:300px;
            height:370px
        }
    </style>

{% endblock %}