{% extends "applicants/base.html" %}


{% block content %}
    {% load static %}


    <style>

    </style>
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}




    <div class="container">
        <div style="padding:1rem; display:flex; justify-content:space-between" class="row"> 
            <div>

                <h2>
                    <a href="{% url 'companyDetails' companyId=company.CompanyId %}" style="color:white">
                        {{company.Name}} Divisions

                    </a>
                </h1>
            </div>
            <div class="row">
                <div style='padding:0.5rem'>
                    <a class="btn btn-info" style="color:white"  href="{% url 'departments' CompanyId=company.CompanyId %}">
                        Divisions
                    </a>
                </div>
                <div style='padding:0.5rem'>
                    <a class="btn btn-info" style="color:white"  href="{% url 'companyDetails' companyId=company.CompanyId %}">
                        Company details
                    </a>
                </div>
                
                {% if user.is_staff != True %}
                    <div style='padding:0.5rem'>
                        <a class="btn btn-info" style="color:white" onclick="formSwitch(true)">
                            Edit Division details
                        </a>
                    </div>
                   
                {% endif %}
            </div>
        </div>
        <hr/>
        <div style="padding:1rem;" id="addDepHiolder" hidden>

            
            <form  method="post" style="color:white">
                {% csrf_token %}

                <div style="padding:1rem; border:solid 1px; border-radius:12px; background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);" >
                    <div style="display:flex; justify-content:end">
                        <a class="btn btn-danger" style="color:white" onclick="formSwitch(false)">
                            Close form
                        </a>

                    </div>
                    <div>
                        <label>
                           <b>Division Name<b>
                        </label><br/>
                        <input class="form-control" type="text" required name="Name" value="{{department.Name}}" />

                    </div>
                    <div>
                        <label>
                           <b>Description<b>
                        </label><br/>
                        <textarea class="form-control" type="text" max="300" required name="Description">{{department.Description}}</textarea>

                    </div>
                    
                    <div style="padding:1rem; display:flex;justify-content: center">
                  
                        <input class="btn btn-success" type="submit" required value="Save Changes" />

                    </div>
                    
                </div>

            </form>
        </div>
        <div id="depInfoHolder" style="padding:1rem; color:white; " >
            
            <h2>
                Division Name: {{department.Name}}</br>


            </h2>
            <label>
                Division Manager
            </label>
            <table class="table" style="color:white;background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);border-radius:12px">
                <tr/>
                    <td>
                        First name:
                    </td>
                    <td>
                        {{department.Exac.FirstName}}
                    <td>
                </tr>
                <tr/>
                    <td>
                        Last name:
                    </td>
                    <td>
                        {{department.Exac.LastName}}
                    <td>
                </tr>
                <tr/>
                    <td>
                        Position:
                    </td>
                    <td>
                        {{department.Exac.Position}}
                    <td>
                </tr>
                <tr/>
                    <td>
                        Division Description:
                    </td>
                    <td>
                        {{department.Description}}
                    <td>
                </tr>


            <table>
           


         
            
           

        </div>
        <hr style="border:solid white"/>
       
        <div>
            <div style="padding:1rem">
                <h3>
                    Other Divisions
                </h3>
            </div>
            <div class="row">

                <!--The for loop starts-->
               {% if otherDepartments %}


                    {% for department in otherDepartments %}
                    
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2" style="background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);">
                                <div class="card-header">
                                    {{department.department.Name}} Division


                                </div>
                                <div class="card-body">
                                    Learners: {{department.numLearners}}
                                    <hr/>
                                    {{department.department.Description}}
                                </div>
                                <div class="card-footer">
                                
                                    <div class="row" style="display:flex; color:white; justify-content:center">
                                        
                                            <div style="padding:0.5rem">
                                                <a class="btn btn-info" href="{% url 'departmentDetails' departmentId=department.department.DepartmentId %}">
                                                    Details 
                                                </a>
                                            </div>
                                   
                                        <div style="padding:0.5rem">
                                            <a class="btn btn-info" href="{% url 'DepartmentLearners' departmentId=department.department.DepartmentId %}">
                                                Learners
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        Added by {{department.department.Exac.FirstName}}  {{department.department.Exac.LastName}}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                            
                    {% endfor %}

                {% else %}
                        <div style="display:flex; justify-content:center; width:100%">
                            <p style="border:solid 1px red; padding:1rem; border-radius:12px">
                                No Divisions please add a new one by clicking on "Dashboard" >> "New Division" above.
                            </p>
                        </div>
                {% endif %}
                <!--The for loop ends-->

            </div>
        </div>
    </div>



    <script>
        let addDepHiolder = document.getElementById("addDepHiolder")
        let depInfoHolder = document.getElementById("depInfoHolder")
        function formSwitch(state){        
            if(state){
                addDepHiolder.hidden = false
                depInfoHolder.hidden = true
            }
            else{
                addDepHiolder.hidden = true
                depInfoHolder.hidden = false

            }
        }

    </script>

{% endblock %}