{% extends "applicants/base.html" %}


{% block content %}
    {% load static %}

    <style>
        #Companyholder{
            box-shadow: 10px 10px linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
          }
        #innerManu{
                display:flex;
                justify-content:end
            }
    
    </style>

    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}
    {% if user.is_staff == False and tour.Step == "Path" %}
        <div id="moveStep" class="row"  >
            <b style="padding:0.5rem">Step 2:  Choose Your Path ></b>
            <div id="note" style="padding:0.5rem">

                <i>Join an existing company you are working for,</i>
                <i>or</i>
                <i>add a new company to start recruiting.</i>
            </div>
           <div class="row">

               <div style="padding:0.5rem">
                    <a 
                       onclick="pageTour()"
                        style="color:azure"
                        title="Sign Up and Activate Your Account(Update account)"
                        id="pageTour"
                    > 
                        Take Page tour
                    </a>
               </div>

               <div style="padding:0.5rem">
                    <a 
                        href="{% url 'account' %}"
                        style="color:azure"
                        title="Sign Up and Activate Your Account(Update account)"
                        id="PreviousStep"
                    > 
                        Previous step
                    </a>
                </div>   

           </div>

        </div>

    {% endif %}
    
    <div id="innerManu" class="row">
        {% if user.is_staff == False %}   
            <div style="padding:0.5rem">
                <a onclick="formSwitch(true)" class="btn btn-info" title="Create A New Company"style="color:white" id="initAdd">
                    Add new Company
                </a>
            </div>
        {% endif %}
       
    </div>

    <div class="container" style="width:100%">
        <div id="addCompHolder" hidden="true">
            <form  method="post" >
                {% csrf_token %}

                <div style="padding:1rem; border:solid 1px; border-radius:12px; background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%,
                             rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%)">
                    <div style="display:flex; justify-content:end">
                        <a onclick="formSwitch(false)"  class="btn btn-outline-warning" style="color:white">
                            Close
                        </a>
                    </div>

                    <div>
                        <label style="color:white">
                           <b>Company Name*<b>
                        </label><br/>
                        <input class="form-control" type="text" required name="Name" />

                    </div>
                    <div>
                        <label  style="color:white">
                           <b>Company Phone*<b>
                        </label><br/>
                        <input class="form-control" type="text" required name="Phone" />

                    </div>
                    <div>
                        <label style="color:white">
                           <b>Company Email*<b>
                        </label><br/>
                        <input class="form-control" type="email" required name="Email" />

                    </div>
                    <div>
                        <label  style="color:white">
                           <b>Company address*<b>
                        </label><br/>
                        <input class="form-control" type="text" required name="Address" />

                    </div>

                    <div style="padding:1rem; display:flex;justify-content: center">
                  
                        <input class="btn btn-success" type="submit" required value="Save and Continue" />

                    </div>
                    
                </div>

            </form>

        </div>
        <div>
            <div class='container' style="padding:1rem; color:white">
                <h1>
                    Recruiting  Companies
                </h1>
            </div>
        </div>
        <div class="row" style=" width:inherit">
            {% for company in companies %}
                <div style="padding:0.5rem; ">
                    <div id="Companyholder" class="card" >
                        <div class="card-header" style =" color:white" >
                            {{company.Name}}
                        </div>
                        <div class="card-body"  >
                            <p style =" color:white" >
                                Added by: {{company.user.first_name}} {{company.user.last_name}}<br/>
                                Email: {{company.user.email}}
                            </p>
                        </div>
                        <div class="card-footer" style="background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%) ;">
                            <div class="row">
                                {% if user.is_staff %}  
                                    <div style='padding:0.5rem'>
                                        <a class="btn btn-info" title="Details About The Company" style="color:white"  href="{% url 'companyDetails' companyId=company.CompanyId %}">
                                            More Details
                                        </a>
                                    </div>
                                    
                                {% else %}
                                    <div style='padding:0.5rem'>
                                        <a id="btnCompanyDetails" class="btn btn-info" title="Details About The Company" style="color:white"  href="{% url 'companyDetails' companyId=company.CompanyId %}">
                                            More Details
                                        </a>
                                    </div>
                                    <div  style='padding:0.5rem'>
                                        <a id="btnCompanyJoin" href="{% url 'addManagement' CompanyId=company.CompanyId %}" title="Join The Company" class="btn btn-info">
                                            Join
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
          
            {% endfor %}

        </div>
    </div>

    <script>
        let initAdd = document.getElementById("initAdd")
        let addCompHolder = document.getElementById("addCompHolder")
        

        function formSwitch(state){
            if(state){
                addCompHolder.hidden = false

            }
            else{
                addCompHolder.hidden = true
            }
        }
       
       {% if user.is_staff == False %}

            let is_taken = '{{tour.is_taken}}'
            //ture scripts
            async function pageTour(){

            
                await introJs().setOptions({
                    steps: [
                        { element: '#moveStep', intro: 'Take note' },
                        { element: '#PreviousStep', intro: 'This will take you to the account page where you can update your basic user account infomation' },
                        { element: '#initAdd', intro: 'Use this button to add a new company if the one you work for is not on the  below.' },
                        { element: '#Companyholder', intro: "Your Company should have this object if they have added a profile"},
                        { element: '#btnCompanyDetails', intro: "You will land on a page to see all about the company including the managers on it."},
                        { element: '#btnCompanyJoin', intro: "Click on this button to join the company and enter the next step towards  connecting with the talent of tomorrow!"},
                        { element: '#pageTour', intro: "Click here to retake the page tour."},

                        //{ element: '#howWorks', intro: 'How to get started!' }
                    ]
                }).start();
                if(is_taken == 'True'){
                    takenTour()
                }
            };
            
           
            


            async function takenTour(){

                takenTourURL = '{% url "takenTour" tourId=tour.TourId %}'

                const response = await fetch(`${takenTourURL}`, {method:"GET"});
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const data = await response.json();
                console.log('Json Date response:', data);

                if(data.Status =="success"){
                    is_taken = "True"
                }

                
              
            }
            
        {% endif %}
    </script>


    <style>

        #moveStep{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
            padding:0.7rem;
            color:white;
            display:flex;
            justify-content:space-between;
        }
        #PreviousStep , #pageTour{
           
            padding:0.5rem;
            border-radius: 60%;
            text-decoration: underline;
            cursor: pointer;
        }
        #PreviousStep:hover, #pageTour:hover{
            color:black;
            border:solid;
            border-right:none;
            border-top:none;
            text-decoration:none;
        }
        .card{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
            max-width:300px;
            height:370px
        }
    </style>
{% endblock %}