
{% extends "applicants/base.html" %}


{% block content %}
    
    {% load static %}
    <style>

        #tablHolder{
            padding:1rem
        }
        #innerManu{
            display:flex;
            justify-content:space-between
        }
    </style>
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    
    <div class="container">
        <div id="innerManu">
            <div style="padding:0.5rem; color:white">
                <h1>
                    Categories
                </h1>
            </div>
            <div style="padding:0.5rem">
                <a class="btn btn-info" style="color:white" href="{% url 'DepartmentLearners' departmentId=department.DepartmentId %}">
                    Back to Learners
                </a>
            </div>
        </div>
        
        <hr/>

        <div class="row">
            {% for category in categories%}
                <div style="padding:0.5rem">
                    <div class="card" style="max-width:300px" onclick="gocateg('{{category.categoryId}}')">
                        <div class="card-header">
                            <h2>
                                {{category.categoryName}}
                            </h2>
                        </div>
                        <div class="card-body ">
                            {{category.description}}           
                        
                        </div>
                        <div class="card-footer">
                            <h4>
                                {{category.code}}
                        </div>
        
                    </div>
                </div>
                <a   id="btngocateg{{category.categoryId}}" href="{% url 'selectLearner' departmentId=department.DepartmentId categoryId=category.categoryId  %}" hidden> </a>
                <script>
                    
                    function gocateg(id){
                        let btngocateg = document.getElementById("btngocateg"+id);
                        btngocateg.click()
                    }
                </script>
            {% endfor %}
    
        </div>

       
    </div>


    <style>
        .card:hover{
            cursor: pointer;
            background: linear-gradient(to top, #09203f 0%, #537895 100%);
            height:auto

        }
        .card{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
           color:white
        }
    </style>
{% endblock %}