
{% extends "applicants/base.html" %}


{% block content %}
    
    {% load static %}
    <style>

        #tablHolder{
            padding:1rem
        }
        #innerManu{
            display:flex;
            justify-content:space-between
        }
    </style>
    {% if messages  %}
        {% for message in messages %}
            <br/>
            <div>
                <center>
                    <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'info' %}info{% endif %}">
                        {{ message }}
                    </div>
                </center>
            </div>

        {% endfor %}
    {% endif %}

    
    <div class="container">
        <div id="innerManu">
            <div style="padding:0.5rem; color:white">
                <h1>
                    Categories
                </h1>
            </div>
            <div style="padding:0.5rem">
                <a class="btn btn-info" style="color:white" href="{% url 'DepartmentLearners' departmentId=department.DepartmentId %}">
                    Back to Learners
                </a>
            </div>
        </div>
        
        <hr/>

        <div class="row">
            {% for category in categories%}
                <div style="padding:0.5rem">
                    <div class="card" title="Click here to select a category" style="max-width:300px" onclick="gocateg('{{category.categoryId}}')">
                       
                        <div class="card-header ">
                            <h2>
                                {{category.categoryName}}
                            </h2>
                        </div>
                        <div class="card-body ">
                            {{category.description}}           
                        
                        </div>
                        <div class="card-footer">
                            <h4>
                                {{category.code}}
                            </h4>
                          
                                
                                

                        </div>
                        
                    </div>

                </div>
                <a   id="btngocateg{{category.categoryId}}" href="{% url 'selectLearner' departmentId=department.DepartmentId categoryId=category.categoryId  %}" hidden> </a>
                <script>
                    
                    function gocateg(id){
                        let btngocateg = document.getElementById("btngocateg"+id);
                        btngocateg.click()
                    }
                </script>
            {% endfor %}
    
        </div>

       
    </div>

  {% comment %} <div class="custom-tooltip">
    Select a category
    <span class="tooltip-text">Click here to select a category</span>
  </div> {% endcomment %}

    <style>
        .card:hover{
            cursor: pointer;
            background: linear-gradient(to top, #09203f 0%, #537895 100%);
            height:auto

        }
        .card{
            background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%);
           color:white
        }
    </style>




    <style>
        /* Basic styling for the element with the tooltip */
        .custom-tooltip {
          position: relative;
          display: inline-block;
          cursor: pointer;
        }
    
        /* Hidden by default; this is the tooltip styling */
        .custom-tooltip .tooltip-text {
          visibility: hidden;
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 5px;
          border-radius: 4px;
          position: absolute;
          bottom: 100%; /* Position above the element */
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          white-space: nowrap;
          font-size: 14px;
        }
    
        /* Arrow below the tooltip */
        .custom-tooltip .tooltip-text::after {
          content: "";
          position: absolute;
          top: 50%; /* Position the arrow at the bottom of the tooltip */
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #333 transparent transparent transparent;
        }
    
        /* Show tooltip on hover */
        .custom-tooltip:hover .tooltip-text {
          visibility: visible;
        }
      </style>
{% endblock %}